<p class='info'>Valentin Bronasco</p>
<p class='info'>Email : v.bronasco@gmail.com</p>
<h4>It is an example of a real world application Angular (4) + Asp Net Core 1.x</h4>
<h4>Thanks to ...</h4>
<p> Mark Zamoyta - Building a Responsive SPA Framework with Angular (Pluralsight)</p>
<p>Valerio De Sanctis - https://github.com/PacktPublishing/ASPdotNET-Core-and-Angular-2</p>
<h4>How to work ...</h4>
<p>-------------New document-----------------</p>
<p>Push button New document, select operation, push Save</p>
<p>-------------Update document-----------------</p>
<p>Push button Update document, select row, push F4 and edit values, push button Save</p>