<div class="sign-in-form">
	<div class="login-container">
		<img src="./assets/images/logo.png" width="320" />
		<h4 class="form-login-heading">Authentication</h4>
		<div class="alert alert-danger" role="alert" *ngIf="loginError"><strong>Warning:</strong> Username or Password mismatch</div>
		<form class="form-login" [formGroup]="loginForm" (submit)="performLogin($event)">
			<div class="form-group">
				<input #username formControlName="username" type="text" class="form-control" placeholder="LOGIN" required autofocus />
			</div>
			<div class="form-group">
				<input formControlName="password" type="password" class="form-control" placeholder="PASSWORD" required />
			</div>
			<button class="btn btn-md btn-primary" type="submit">Sign In</button>
		</form>
	</div>
</div>