<div class="area-modal">
	<ej-dialog #showMessage
						 id="showMessage"
						 title="Warning"
						 [target]="target"
						 [showOnInit]="showOnInit"
						 [(enableResize)]="resize"
						 [isResponsive]="responsive"
						 [enableModal]="enablemodal"
						 (close)="onClose($event)">

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group">
					{{message}}
				</div>
			</div>
		</div>
		<div class="panel-body">
			<button id="ok" class="btn btn-primary btn-ok" (click)="onOK($event)">OK</button>
			<button id="cancel" class="btn btn-default" (click)="onCancel($event)">Cancel</button>
		</div>
	</ej-dialog>
</div>
